<div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>
        FINANZAS CON <span style="font-weight:bold">PROPÓSITO</span>
    </h1>
    <div class="row">
        <div class="col-6">

            <h2>
                Acompaña a las familias en la planificación y administración adecuada de sus finanzas personales,
                a través de iniciativas de capacitación financiera impartidas por facilitadores certificados.
            </h2>
            <div class="d-flex">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <div class="modal-content">
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0YoF8cr2FMs"
                                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a style="color:#fff; font-weight:bold;cursor:pointer">
                        <img src="~/img/play.png" class="img-fluid" style="background-color:orange; width:20%; margin-right:10px; border-radius:80%; padding: 5px 5px 5px 5px" alt="video"
                             data-toggle="modal" data-target="#modal1"> Ver video
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>