<div class="container" data-aos="fade-up">

    <div class="section-title">
        <h3>El blog del <span>Popular</span></h3>
    </div>

    <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="height:170px">
            <img src="~/img/blog1.jpg" alt="" class="card-img" style="left: auto;width:40%;">
            <div class="icon-box">
                <p>
                    FINANZAS CON PROPÓSITO
                </p>
                <p style="color:#00c1d5; font-weight:bold">
                    <a href="#" style="color:#00c1d5;">
                        Generación de ingresos variables
                    </a>
                </p>
                <p class="information-blog">
                    El crecimiento financiero empieza en la mente.
                    Emprender un negocio, apostar por nuestro desarrollo o invertir siempre serán buenas ideas.

                </p>
            </div>
        </div>

        <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="height:170px">
            <img src="~/img/blog2.jpg" alt="" class="card-img" style="left: auto;width:40%;">
            <div class="icon-box">
                <p>
                    FINANZAS CON PROPÓSITO
                </p>
                <p style="font-weight:bold">
                    <a href="#" style="color:#00c1d5;">
                        Las madres, protagonistas financieras
                    </a>
                </p>
                <p class="information-blog">
                    El rol protagónico de las mujeres también viene determinado por su capacidad para administrar
                    financieramente las necesidades de sus familias. Te explicamos cómo.

                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="height:170px">
            <img src="~/img/blog3.jpg" alt="" class="card-img" style="left: auto;width:40%;">
            <div class="icon-box">
                <p>
                    FINANZAS CON PROPÓSITO
                </p>
                <p style="font-weight:bold">
                    <a href="#" style="color:#00c1d5;">
                        ¿Cómo sobreponerse al desempleo?
                    </a>
                </p>
                <p class="information-blog">
                    Estar desempleado es, sin lugar a dudas, un reto.
                    No sólo por la dificultad económica que representa, sino por la llegada de sentimientos encontrados.

                </p>
            </div>
        </div>

        <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="height:170px">
            <img src="~/img/blog4.jpg" alt="" class="card-img" style="left: auto;width:40%;">
            <div class="icon-box">
                <p>
                    FINANZAS CON PROPÓSITO
                </p>
                <p style="font-weight:bold">
                    <a href="#" style="color:#00c1d5;">
                        Construye un presupuesto, con ingresos fijos o variables
                    </a>
                </p>
                <p class="information-blog">
                    Ya sea que tengas ingresos fijos o que sean variables, puedes lograr tu salud financiera con un buen presupuesto.
                    Te enseñamos las claves.
                </p>
            </div>
        </div>
    </div>
</div>