<div class="container" data-aos="fade-up">

    <div class="section-title">
        <h3 style="color:#fff">
            Nuestros facilitadores certificados en finanzas
        </h3>
    </div>

    <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member d-flex align-items-start">
                <div class="pic"><img src="~/img/pamela-pichardo.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                    <h4>Pamela Pichardo</h4>
                    <span>Coach Financiera</span>
                    <p>
                        Certificada por la International Coaching Community (ICC). Directora ejecutiva de Edufinanzas, firma especializada en educación financiera familiar y personal de la República Dominicana. Charlista especializada en educación financiera personal, con más de 300 talleres impartidos.

                        También es directora ejecutiva y editora jefe de la revista Mi Dinero, primera publicación dominicana especializada en educación financiera familiar y personal.

                        Egresada de la universidad Unibe en Marketing y postgrado en Dirección Comercial y Comunicación Integral de Marketing.

                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="member d-flex align-items-start">
                <div class="pic"><img src="~/img/teresa-sanchez.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                    <h4>Teresa Sanchez</h4>
                    <span>Coach financiera ACC</span>
                    <p>
                        Certificada para personas y empresas. Miembro de la International Coach Federation (ICF). Creó un método pionero en el país de coaching aplicado a las finanzas personales.

                        Motivadora, conferencista y facilitadora nacional e internacional, lleva más de diez años transformando positivamente las creencias y relaciones de las personas con el dinero.

                        Estudió Ciencias Políticas, pero su identificación con el desarrollo humano continuo la llevó a certificarse en coaching y estudiar inteligencia emocional, lenguaje no verbal y neuromarketing. Es socia de Ser Más y está involucrada en organizaciones altruistas.
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>