<div class="row">

    <div class="col-lg-3 align-items-stretch order-1 order-lg-2 LastSegment">
        <h2 class="text-center" style="font-weight:bold; color:#fff">
            Ahorrar nos hace bien
        </h2>
        <p class="text-center">
            Taller dinámico, en el que dos científicos <span style="font-style:italic;">sui géneris</span>, donde involucran a los niños en diversas actividades educativas.

        </p>
    </div>
    <div class="col-lg-3 align-items-stretch order-2 order-lg-2 LastSegment">
        <h2 class="text-center" style="font-weight:bold; color:#fff">
            Cultura emprendedora
        </h2>
        <p class="text-center">
            Iniciativas para fortalecer las aspiraciones de emprender entre la juventud.
        </p>
    </div>
    <div class="col-lg-3 align-items-stretch order-1 order-lg-2 LastSegment">
        <h2 class="text-center" style="font-weight:bold; color:#fff">
            Banquero Joven Popular
        </h2>
        <p class="text-center">
            Programa de simulación bancaria, realizado junto a Junior Achievement Dominicana (JADOM).
        </p>
    </div>
    <div class="col-lg-3 align-items-stretch order-2 order-lg-2 LastSegment">
        <h2 class="text-center" style="font-weight:bold; color:#fff">
            Educación para pyme
        </h2>
        <p class="text-center">
            Plataforma de fortalecimiento de las pequeñas y medianas empresas, con programas de capacitación que
            benefician miles de empresarios pyme.
        </p>
    </div>
</div>