<div class="container" data-aos="fade-up">

    <div class="section-title">
        <h3>Consejos <span>Financieros</span> de hoy</h3>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon">

                    <img src="~/img/administra-tus-inversiones.png" alt="" class="bx bxl-dribbble" style="width:90%;">

                </div>
                <p>
                    La inversión constante es la tortuga que vence la liebre en la carrera.
                    Invertir puede ser un excelente propósito para tus ahorros, pero es fundamental
                    que antes conozcas el funcionamiento del mercado de valores.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon">
                    <img src="~/img/Consumo-inteligente.png" alt="" class="bx bxl-dribbble" style="width:90%;">

                </div>
                <p>
                    Apégate a un presupuesto, que es el guía de tu dinero y te da estructura,
                    te brinda confianza y posibilidad de logro
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon">
                    <img src="~/img/administra-tu-riesgo.png" alt="" class="bx bxl-dribbble" style="width:90%;">
                </div>
                <p>
                    Contar con un fondo de emergencia significa tener reservado de 3 a 6
                    meses de tus ingresos netos y su finalidad es ser utilizado en caso de incidencias o
                    cambios importantes que suceden en la vida.
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="col-lg-12 text-center">
            <button class="btn othertips">Otros consejos</button>
        </div>
    </div>

</div>